{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "doubleQuote": false,
  "simpleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always"
}