/* custom.scss */

/* import the necessary Bootstrap files */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/* -------begin customization-------- */

$theme-colors: (
  primary: #23273c,
  secondary: #3ec3d5,
  danger: #f2515f,
  success: #6add66
);

* {
  font-family: "Roboto", sans-serif;
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
